<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.model.dao.NotificationDao">

	<insert id="createNotification"
		parameterType="com.ssafit.model.dto.Notification">
		INSERT INTO Notification (user_id, notification_content,
		notification_read, notification_regDate)
		VALUES (#{userId}, #{notificationContent}, 0, NOW())
	</insert>

	<select id="getNotificationById" parameterType="int"
		resultType="com.ssafit.model.dto.Notification">
		SELECT * FROM Notification WHERE notification_id = #{notificationId}
	</select>

	<select id="getNotificationsByUserId" parameterType="int"
		resultType="com.ssafit.model.dto.Notification">
		SELECT * FROM Notification WHERE user_id = #{userId} ORDER BY notification_read asc,
		notification_regDate desc
	</select>

	<delete id="deleteNotification" parameterType="int">
		DELETE FROM Notification WHERE notification_id = #{notificationId}
	</delete>

	<update id="readNotification" parameterType="int">
		UPDATE Notification SET notification_read = 1 WHERE notification_id =
		#{notificationId}
	</update>

	<delete id="deleteReadNotification" parameterType="int">
		DELETE FROM Notification WHERE user_id = #{userId} and notification_read
		= 1
	</delete>

</mapper>
